* {
  font-family: "staatliches", cursive ;
}

body {
  background-color: #0094e9;
  background-image: Linear-gradient(160deg, #293035 0%, #012723 100%);
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.budget-date {
  text-emphasis: center;
  color: #ffffff;
  font-family: "staatliches", cursive;
  font-size: 1.5em;
  position: absolute;
  right: 70%;
  top: 10%;
  text-decoration: underline;
}

.budget-value {
  color: white;
  text-align: center;
  font-size: 3em;
  position: absolute;
  right: 50%;
}

.budget-it {
  font-size: 1em;
  text-align: left;
  margin: 5px;
  width: auto;
  padding: 5px;
  position: absolute;
  left: 65%;
  color: #3cff56;
  background-color: #dce0e4;
}

.budget-income-value {
  color: #3cff56;
  float: right;
  padding-left: 10px;
  width: auto;
}

.budget-et {
  text-align: left;
   margin: 5px;
   width: auto;
   padding: auto;
   position: absolute;
   right: 10px;
   color: #3cff56;
   background-color: #dec0e4;
}

.budget-expense-value {
  float: right;
  padding-left: 10px;
}

.bottom {
  margin: auto;
}

#list-form {
  display: flex;
  align-items: center;
}

#budget {
  background-color: transparent;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  color: #3cff56;
  border: none;
  outline: none;
  height: 30px;
  width: auto;
}

#budget:hover {
  transition-duration: 0.4s;
}

#budget::placeholder {
  color: white;
  opacity: 10;
}

#budget::-webkit-outer-spin-button,
#budget::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#new-select {
  position: relative;
  left: 35%;
  background-color: #193857;
  color: #3cff56;
  border-color: #193857;
  font-size: 25px;
  border-radius: 10%;
  outline: none;
}

#new-select:hover {
  transition-duration: 0.4s;
}

.new {
  padding: 10px;
  background-color: #252b2e;
}

#new-name {
  padding: 5px;
  text-align: center;
  border-radius: 5px 50px;
  border: none;
  outline: none;
  height: 30px;
  width: 200px;
  position: relative;
  left: 40px;

  background-color: #193857;

  background-color: rgb(183, 230, 174);
}

#new-name:hover {
  transition-duration: 0.4s;
  background-color: rgb(255, 255. 255);
}

#new-value {
  text-align: center;
  padding: 5px;
  height: 30px;
  width: 200px;
  border-radius: 5px 50px;
  border: none;
  outline: none;
  position: relative;
  left: 40%;
  background-color: #193857;
}

#new-value:hover {
  transition-duration: 0.4s;
  background-color: rgb(255, 255,255);
}

#new-value::-webkit-outer-spin-button,
#new-value::-webkur-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#add-button {
  position: relative;
  left: 41%;
  color: white;
  background-color: #193857;

  border-style: none;
  border-radius: 20%;
}

#add-button:hover {
  transition-duration: 0.4s;
  border-style: none;
  outline: none;
}

#add-button:active {
  box-shadow: 0 2px rgb(54, 70,55);
  transition: translateY(2px);
}

i.fas.fa-plus-square::before {
  color: #3cff56;
}

i.fas.fa-plus-square {
  font-size: 30px;
  text-align: center;
}

.budget-list {
  display: inline-block;
  height: auto;
}

.income-container {
  color: white;
  display: inline-block;
  position: relative;
  left: 200px;
  position: absolute;
}

.income-title {
  color: #3cff56;
}

.expense-container {
  color: white;
  position: relative;
  left: 700px;
  position: absolute;
}

.expense-title {
  color: #3cff56;
}

.income-ul {
  width: auto;
}

.income-div-item {
  display: flex;
  padding: 5px;
  width: auto;
  list-style-type: none;
  border: thistle;
}

.expense-ul {
  width: auto;
}

.expense-div-item {
  display: flex;
  padding: 5px;
  width: auto;
  list-style-type: none;
  border: thistle;
}

.income-li {
  color: white;
  font-size: 20px;
  padding: 5px;

  background-color: #193857;
  border: none;
  border-radius: 5px 10px;
}